* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
}

.form {
    width: 450px;
    margin: 0 auto;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
}

.form-control label {
    font-weight: bold;
    margin-bottom: .3em;
}

.form-control input {
    padding: 5px;
}

/*Navegação*/

#navbar {
    border-bottom: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;
}

#navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
}

#navbar ul li {
    margin-left: .5em;
}

#navbar ul li a {
    text-decoration: none;
    color: black;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
}

/*BOOKS*/

.books-container div {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

.bold {
    font-weight: bold;
}

.add{
    text-decoration: none;
    background-color: coral;
    color: black;
    padding: 5px;
    border-radius: 10px;
}

/* BOOK */

#book-page {
    padding: 2em;
}

#book-page .container{
    text-align: center;
}

.actions {
    margin-top: 10px;
}
